@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;800;900&family=IBM+Plex+Sans:wght@400;700&family=Inter:wght@400;500;700&family=Kumbh+Sans:wght@300&family=Outfit:wght@300&family=Poppins&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.headtitle-icon {
  display: flex;
}
.header-p {
  display: Flex;
}
.headtitle-icon h1 {
  margin-left: 5px;
}
.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  margin: 20px;
  margin-bottom: 90px;
}
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #575988;
  padding-top: 50px;
}
.section-three p {
  color: white;
}
.section-three h3 {
  color: white;
  margin-bottom: 40px;
}
.section-four {
  display: Flex;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  background-color: #07043b;
  padding-top: 40px;
  padding-bottom: 0px;
}
.section-four h1 {
  color: white;
  margin-left: 5px;
}
.section-four p {
  color: white;
  font-size: 16px;
}
.phone-mail {
  margin-top: 12px;
}
.section-three-text {
  text-align: center;
}
p {
  margin: 16px;
  color: #615f7e;
  font-weight: 400;
}
h1 {
  color: #07043b;
}
h2 {
  color: #07043b;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 40px;
}
h3 {
  color: #07043b;
}
.blue-p {
  color: #3da08f;
  text-decoration: underline;
}
.whitebox {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  text-align: left;
  padding: 5px;
  padding-bottom: 20px;
}

.whitebox-profile {
  display: Flex;
}
.whitebox-profile p {
  margin: 7px;
  font-size: 10px;
  margin-left: 13px;
}
.whitebox-text {
  margin: 25px;
}
.profile {
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 40px;
}
.second {
  display: flex;
  justify-content: left;
  margin-top: 16px;
  margin-left: 37px;
  text-align: center;
}

.third {
  margin-left: 18px;
}
.section-four-icons {
  display: Flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.facebook {
  margin-left: 10px;
}
.link {
  display: flex;
  justify-content: center;
  text-align: center;
}
.arrow {
  align-self: center;
}
.phone-mail {
  align-self: center;
  margin: 0;
}
.white-rectangle {
  display: flex;
  width: 304px;
  height: 40px;
  border: solid #07043b 0.6px;
  border-radius: 3px;
  justify-content: left;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 32px;
}
.blue-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 304px;
  height: 40px;
  border-radius: 3px;
  background-color: #2f65f8;
  margin-bottom: 30px;
}
.blue-rectangle:hover {
  background-color: #6c9bff;
  cursor: pointer;
}
.blue-rectangle p {
  color: white;
  font-size: 14px;
}
.white-rectangle p {
  font-size: 12px;
  color: #c2c2c2;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#white {
  background-color: white;
}
.section-two-background {
  background-color: #f8f8fe;
  border-top: solid #f8f8fe 150px;
  border-top-left-radius: 450px 100px;
  border-top-right-radius: 450px 100px;
}
.hover-p:hover {
  color: #6c9bff;
  cursor: pointer;
}
.blue-p:hover {
  color: #71dfcc;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .section-one {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
  }
  .section-one p {
    margin-left: 0;
  }
  .buttons {
    flex-direction: row;
    justify-content: left;
  }
  .white-rectangle {
    margin: 0;
  }
  .blue-rectangle {
    margin: 0;
  }
  p {
    font-size: 17px;
    line-height: 24px;
  }
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
  h3 {
    font-size: 32px;
  }
  h1 {
    font-size: 50px;
  }
  .section-one-image {
    width: 640px;
    height: 474px;
  }
  .section-two-image {
    width: 542px;
    height: 409px;
  }
  .section-two {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .section-two-text {
    width: 648px;
    text-align: left;
  }
  .section-two-text h2 {
    margin: 15px;
  }
  .whitebox {
    width: 356px;
    height: 245px;
  }
  .link {
    justify-content: left;
  }
  .section-three {
    flex-direction: row;
    justify-content: space-between;
  }
  .section-three-text {
    justify-content: left;
    text-align: left;
    margin-left: 65px;
    width: 347px;
  }
  .section-three-text p {
    margin-left: 0px;
    margin-bottom: 85px;
  }
  #sectionthree-button {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  #white {
    width: 347px;
    border: 1px;
  }
  #blue {
    margin-top: 15px;
    margin-bottom: 80px;
  }
  .section-four {
    flex-direction: row;
    justify-content: space-between;
  }
  .first {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .second {
    margin-top: 5px;
    margin-left: 65px;
  }
  .third {
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .facebook {
    align-self: center;
  }
  .section-four-icons {
    margin-bottom: 80px;
    margin-right: 90px;
  }
  .head-icon {
    align-self: center;
    height: 50px;
  }
  #sectionthree-button {
    margin-right: 90px;
  }
  .profile {
    margin-top: 14px;
    width: 40px;
    height: 40px;
  }
  header {
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 65px;
  }
  #section-one-buttons {
    margin-right: 16px;
  }
  #section-one-buttons p {
    margin-left: 7px;
  }
  .section-one-button-and-text {
    margin-left: 55px;
  }
}
